$color-primary-fade: #324160;
$color-secondary-fade: #acadae;
$color-tertiary-fade: #667082;
$color-quaternary-fade: #d19499;
$color-primary: #162d4f;
$color-secondary: #868c97;
$color-tertiary: #4e4e51;
$color-quaternary: #bc5158;
$color-white: #fffffe;
$color-pink: #ffdada;
$color-red: #d43205;
