.board{
    position: absolute;
    right: 0;
    top:  0;
    height: 100vh;
    width: 75%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__postList{
        padding: 0;
        margin: 0;
        width: 70%;
    }

    &__type{
        margin: 2rem 0 0 0;
        padding: .2rem 1rem 0 1rem;
        font-size: .8rem;
        font-weight: 800;

        &__container{
        background-color:rgb(218, 232, 246);
        position: relative;
        width: fit-content;
        border-radius:  .2rem .2rem 0 0;    
        margin-top: 2rem;
        }
    }

    &__post{
        background-color: rgb(218, 232, 246);
        padding: .5rem .7rem ;
        border-radius: 0 .2rem .2rem .2rem;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    }

    &__postInfo{
        display: flex;
        justify-content: space-between;
        height: fit-content;
        list-style: none;
        font-size: .8rem;
        font-weight: 400;
        &__detail{
            margin: 0;
        }
    }

    &__boardTitle{
        color: $color-primary;
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 0;

    }
    &__postTitle{
        font-size: $fs-title;
        word-wrap: break-word;
        margin-top: .8rem;
    }
    &__postBody{
        font-size: $fs-body;
        font-weight: 500;
        padding-left: .5rem;
        margin-bottom: .5rem;
        word-wrap: break-word;

    }
    &__postImg{
        height: 100%;
        width: 100%;
        max-height: 20rem;
        object-fit: cover;
        margin-left: auto ;

    }

    &__commentsLink{
        margin: 0 auto;
        padding-bottom: 0;
        text-align: center;
        width: fit-content;

        cursor: pointer;
    }
    &__endPosts{
        font-weight: 500;
    }
}

@media only screen and (max-width: 700px) {
    .board {
        position: relative;
        top: 0;
        width: 100%;
       height: 90%;
        &__postList{
            width: 85%;
        }
        &__postInfo--hide{
            display: none;
        }
        
    }
  }